#content {
    display: flex;
    flex-direction: row;
    margin: 50px 0 100px 0;
}

#content_col1 {
    flex: 0 1 20%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse;
    z-index: 9;
}

#content_col1.fixed {
    position: relative;
    top: 0px;
    width: 100%;
}

#content_col2 {
    flex: 0 1 80%;
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0px 15px;
}

#content_col1 a {
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: #023961;
    color: white;
    text-decoration-line: none;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#content_col1 a:hover {
    background: white;
    color: #023961;
    letter-spacing: 1px;
}

.directory {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.directory > a {
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

#product_table {
    flex: 100%;
    display: flex;
    flex-direction: column;
}

.product_row {
    display: flex;
    flex-direction: row;
}

.product {
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    text-decoration-line: none;
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    background: #ebedeb;
}

.product:hover {
    background: #56baa3;
}

.product_img {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.product_img img {
    -webkit-transition:all 0.3s;
    transition:0.3s ease-in-out;
    width:100%;
    height:100%;
}

.product_img img:hover {
    transform: scale(1.2);
}

.product_name {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 500;
}

.product_price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 20px;
}

@media only screen and (max-width : 768px) {
    #content_col1.fixed {
        position: fixed;
        top: 100px;
        width: 100%;
    }
    
    #content {
        flex-direction: column;
        margin-top: 10px;
    }

    #content_col1 {
        flex-direction: row;
        padding: 10px;
        margin: 0;
    }

    .product_row {
        flex-wrap: wrap;
    }

    .product {
        flex: 0 1 47%;
    }
}

@media only screen and (max-width : 480px) {
    .product_row {
        flex-direction: column;
    }
}