body{
    align-items: center;
}

#content {
    display: flex;
    flex-direction: row;
    margin: 0;
    max-width: 1000px;
    width: 100%;
    background: #93b8f5;
    min-height: 90vh;
}

.about_us {
    flex: 0 1 65%;
    padding: 10px;
}

.contact_info {
    flex: 0 1 35%;
    border-left: 3px solid black;
    padding: 10px;
}